<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Detection System</title>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
 integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
 crossorigin="anonymous">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand"th:href="@{/home}">Model Management System</a>
    </div>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="nav navbar-nav">
        <li class="nav-item">
			<a class = "nav-link" th:href="@{/detection}">Nhận diện vùng ảnh chứa người</a>
		</li>
        <li	class="nav-item">
			<a class = "nav-link"  th:href="@{/modelselector}">Nhận dạng hành vi </a>
		</li>
		<li	class="nav-item">
			<a class = "nav-link"th:href="@{/login}">Quản lý các mô hình nhận dạng đã huấn luyện</a>
		</li>
      </ul>
      
    </div>
  </div>
</nav>
	<div class = "contrainer">
		<section class="jumbotron text">
				<div class="container">
					<h1 class="jumbotron-heading">Nhận dạng vùng ảnh chứa người</h1>
					<p class="lead text-muted mb-0">Thêm tệp bạn cần vào đây</p>
					<form action="detection/add" method="post" enctype="multipart/form-data">
					                <div class="input-group">
					                    <input type="file" class="form-control" id="image" name="image" aria-describedby="inputGroupFileAddon04" aria-label="Upload" required="required" height="400dp"	width="400dp">
										<!--button class="btn btn-outline-secondary" type="submit" >Submit</button-->
										               
					                </div>
					        </form>
					<br>
					<br>
					<a class = "btn btn-primary" onclick="getImage()">Nhận dạng</a>
					<p class="lead text-muted mb-0">Kết quả:</p>
					<div id="imageContainer"></div>
					<br>
					<br>
					<a class = "btn btn-primary center">Dừng</a>
				</div>
		</section>
		
	</div>
	<script>
	        function getImage() {
	            // Gửi yêu cầu GET đến API endpoint để lấy ảnh
	            fetch('/api/getImage')
	                .then(response => response.blob())
	                .then(imageBlob => {
	                    // Tạo URL cho dữ liệu ảnh
	                    var imageUrl = URL.createObjectURL(imageBlob);
	
	                    // Hiển thị ảnh trên giao diện
	                    var imageContainer = document.getElementById("imageContainer");
	                    imageContainer.innerHTML = "<img src='" + imageUrl + "' alt='Ảnh từ cơ sở dữ liệu'>";
	                })
	                .catch(error => console.error('Error fetching image:', error));
	        }
	    </script>
</body>
</html>